# Dependency directories
node_modules/
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Build
dist/
build/

# Rust
target/
Cargo.lock

# Misc
.env
.env.*
.git
.turbo
.DS_Store
Cargo.lock
.vercel

# Ignore the folder storing the editorconfig-checker binary we installed locally
ec/
