# Dependency directories
node_modules/
.venv/

# Cache directories
__pycache__/
.ruff_cache/
.mypy_cache/
.turbo/

# Build
dist/
build/

# Rust
target/
Cargo.lock

# Python
**/*.egg-info/

# Misc
.env*
.DS_Store
