@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-blue: #1e86ff;
  --color-primary-red: #c41230;
  --color-primary-green: #31b777;
  --color-primary-grey: #bec1c6;

  --color-nav-blue: #3d83d3;
  --color-nav-grey: #828282;

  --color-pale-blue: #e6f0ff;
  --color-button-grey: #979797;

  --color-light-blue: #f1f4fd;
  --color-light-grey: #b0b0b0;
  --color-blue-grey: #e6e6e6;
  --color-dark-grey: #4c5564;

  --color-background-brand-primary-enabled: #0e96d1;
  --color-blue-brand-700: #0a6b94;
  --color-background-brand-secondary-pressed: #f5f5f5;
  --color-background-brand-secondary-enabled: #e7f5fa;
  --color-foreground-neutral-primary: #1e1e1e;
  --color-foreground-neutral-secondary: #666;
  --color-foreground-neutral-tertiary: #808080;
  --color-stroke-neutral-1: #d6d6d6;
  --color-blue-gray-500: #869db3;
  --color-button-green: #0ea041;
  --color-button-green-600: #0d923b;

  --color-surface-darker-background: #8e8e8e;
}

@layer base {
  html,
  body,
  #root {
    height: -webkit-fill-available;
  }

  h2 {
    font-weight: bold;
    font-size: 1.25rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1rem;
  }

  .font-lato {
    font-family: "Lato", sans-serif;
  }
}

@layer components {
  .btn-shadow {
    @apply shadow-md shadow-gray-400;
  }
  .btn-shadow-dark {
    @apply shadow-md shadow-gray-500;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
