@import "tailwindcss";

@theme {
  --color-primary-blue: #1e86ff;
  --color-primary-red: #c41230;
  --color-primary-green: #31b777;
  --color-primary-grey: #bec1c6;

  --color-nav-blue: #3d83d3;
  --color-nav-grey: #828282;

  --color-pale-blue: #e6f0ff;
  --color-button-grey: #979797;

  --color-light-blue: #f1f4fd;
  --color-light-grey: #b0b0b0;
  --color-blue-grey: #e6e6e6;
  --color-dark-grey: #4c5564;
}

@layer base {
  html,
  body,
  #root {
    height: -webkit-fill-available;
  }

  h2 {
    font-weight: bold;
    font-size: 1.25rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1rem;
  }
}

@layer components {
  .btn-shadow {
    @apply shadow-md shadow-gray-400;
  }
}
