{
    "singleQuote": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrderSeparation": true,
    "importOrder": [
        "^react(.*)",
        "@/(.*)",
        "^[./]"
    ]
}