name: Check
on:
  push:
    branches:
      - main
      - staging
  pull_request:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  editorconfig-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install EditorConfig Checker
        uses: editorconfig-checker/action-editorconfig-checker@main

      - name: Check editorconfig
        run: editorconfig-checker
        with:
          args: --exclude 'apps/rust-server/.*'

  bun-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies, generaet DB schema and OpenAPI spec
        run: |
          bun install
          cd apps/server
          bun run db-generate
          bun run tsoa
          bun run openapi
          cd ../../

      - name: Check
        run: bun run check
