name: Check
on:
  push:
    branches: [main, staging]
  pull_request:
    branches: [main, staging]
  workflow_dispatch:

jobs:
  editorconfig-check:
    name: EditorConfig Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install EditorConfig checker
        uses: editorconfig-checker/action-editorconfig-checker@main

      - name: Run EditorConfig checker
        run: editorconfig-checker --exclude '(^LICENSE|^apps/rust-server/.*)'

  bun-check:
    name: Bun Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Ruff
        uses: astral-sh/ruff-action@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies, generaet DB schema and OpenAPI spec
        run: |
          bun install
          cd apps/server
          bun run db-generate
          bun run tsoa
          bun run openapi
          cd ../../

      - name: Run checks
        run: bun run check
