name: Check
on:
  push:
    branches: [main, staging]
  pull_request:
    branches: [main, staging]
  workflow_dispatch:

jobs:
  editorconfig-check:
    name: EditorConfig Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install EditorConfig checker
        uses: editorconfig-checker/action-editorconfig-checker@main

      - name: Run EditorConfig checker
        run: editorconfig-checker --exclude '(^LICENSE|^apps/rust-server/.*)'

  markdownlint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v22

  syncpack:
    name: SyncPack Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install syncpack

      - name: Run SyncPack
        run: bun run syncpack

  biome-rules-check:
    name: Check if Biome config is up to date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install remeda

      - name: Run Biome config check
        run: bun run scripts/biome/check-biome-config.ts

  bun-check:
    name: Bun Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Ruff
        uses: astral-sh/ruff-action@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies, generaet DB schema and OpenAPI spec
        run: |
          bun install
          cd apps/server
          bun run db-generate
          bun run tsoa
          bun run openapi
          cd ../../

      - name: Run checks
        run: bun run check
